/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box; 
  margin: 0;
  padding: 0; 
}

:root {
  --main-color:white;
  --border-color: gray;
  --txtbg-color: #eee;
  --text-color: black;
  --secondary-color:#1f2544;
  
  --max-grootte: 900px;
}





/* ALGEMEEN */

body {
  font-family: Arial,sans-serif;
  background-color: var(--main-color);
}

p {
  font-size: 1.1em;
  line-height: 1.4em;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

section a:focus {
  transition: .8s;
  transform: scale(1.02);
}





/* HEADER */

header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: var(--main-color);
  z-index: 5;
  box-shadow: 0 3px 10px -4px var(--border-color);
}

header.headerDown {
  top: 38px;
}

header nav {
  width: 100%;
  max-width: var(--max-grootte);
  display: flex;
  justify-content: space-evenly;
}

header nav ul {
  display: flex;
  height: 2.5em;
  white-space: nowrap;
  flex-grow: 1;
  justify-content: space-evenly;
}

header nav li {
  display: flex;
  align-items: center;
  list-style: none;
}

header nav li a {
  text-decoration: none;
  color: var(--border-color);
  transition: 1s;
  border: 1px solid white;
}   

header nav li a:hover {
  border-bottom: 1px solid var(--border-color);
}

header nav li a:focus {
  font-size: 1.1em;
  border-bottom: 1px solid var(--border-color);
}

body > nav {
  background-color: var(--main-color);
}

.navToggle.showNav {
  position: sticky;
  top:0;
}

body > nav:nth-of-type(1) {
  padding: 10px;
  max-width: var(--max-grootte);
  margin: 0 auto;
  position: relative;
  z-index: 3;
}

body > nav:nth-of-type(1) ul {
  display: flex;
  justify-content: end;
  list-style: none;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

body > nav:nth-of-type(1) ul li:hover {
  animation: spin 1s;
}

body > nav:nth-of-type(1) ul li a:focus {
  text-decoration: underline;
}

body > nav:nth-of-type(1) ul li:first-of-type {
  margin-right: auto;
}

body > form {
	position: fixed;
	top:0;
	width: 100%;
  height: 100%;
	transform: translateY(-100%);
	transition: 1s;
  background-color: var(--main-color);
  z-index: 2;
  line-height: 2em;
  padding-top: 6em;
  padding-left: 5em;
  overflow: scroll;
}

body > form h2 {
  color: var(--secondary-color);
  margin: 0 auto 0.5em auto;
  max-width: var(--max-grootte);
}

body > form ul {
  margin: 0 auto 2em auto;
  max-width: var(--max-grootte);
}

body > form li {
  list-style: none;
  transition: .2s;
}

body > form.showMenu {
  transform: translateY(0);
}

body > form li:hover {
  font-size: 1.1em;
}





/* MAIN */
main {
  max-width: var(--max-grootte);
  margin: 15px auto;
  padding: 0 10px;
}





/* SECTION ONE */
section:first-child{
  margin-bottom: 4em;
}

section:first-of-type figure:first-of-type {
  position: relative;
  margin-bottom: 15px;
}

section:first-of-type > figure img {
  width: 100%;
  height: auto;
  border-radius: 1em;
  position: relative;
}

section:first-of-type figure > h2 {
  position: absolute;
  bottom: 1em;
  left: 1em;
  right: 1em;
  color: var(--main-color);
}

section:first-of-type article a {
  display: flex;
  margin-bottom: 15px;
}

section:first-of-type article figure {
  margin: 0 15px 0 0;
  flex: 0 0 7em;
  width: 100%;
  height: auto;
  display: block;
}

section:first-of-type article img {
  border-radius: 1em;
  object-fit: cover;
  height: 7em;
  width: 100%;
}

section:first-of-type article a p {
  font-size: 1.1em;
  line-height: 1.4em;
  display: flex;
  align-items: center;
}

section:first-of-type > a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin-bottom: 2em;
  text-decoration: none;
  color: var(--text-color);
}





/* SECTION TWO */
section:nth-of-type(2) {
  margin-bottom: 4em;
}

section:nth-of-type(2) figure:first-of-type {
  position: relative;
  margin-bottom: 2em;
}

section:nth-of-type(2) > figure img {
  width: 100%;
  height: auto;
  border-radius: 1em;
  position: relative;
}

section:nth-of-type(2) figure > h2 {
  position: absolute;
  bottom: 1em;
  left: 1em;
  right: 1em;
  color: var(--main-color);
}

section:nth-of-type(2) > h2 {
  background-color: var(--secondary-color);
  border-radius: 1em 2em 2em 1em;
  padding: .5em;
  color: white;
  width: 8.5em;
  font-size: 1em;
  margin-bottom: 2em;
}

section:nth-of-type(2) > article  {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin-bottom: 1em;
}

section:nth-of-type(2) article > article {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

section:nth-of-type(2) article img {
  width: 100%;
  border-radius: 1em;
}





/* SECTION THREE */
section:nth-of-type(3) {
  margin-bottom: 4em;
}

section:nth-of-type(3) > h2 {
  background-color: var(--secondary-color);
  border-radius: 1em 2em 2em 1em;
  padding: .5em;
  color: white;
  width: 13em;
  font-size: 1em;
  margin-bottom: 2em;
}

section:nth-of-type(3) > article  {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin-bottom: 1em;
}

section:nth-of-type(3) article > article {
  display: flex;
  flex-direction: column;
  background-color: var(--txtbg-color);
  border-radius: 1em;
}

section:nth-of-type(3) article > article h3 {
  padding: .5em;
  font-size: 1em;
}

section:nth-of-type(3) article > article section {
  padding: .5em;
  font-size: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

section:nth-of-type(3) article img {
  width: 100%;
  border-radius: 1em 1em 0 0 ;
}





/* SECTION FOUR */
section:nth-of-type(4) {
  margin-bottom: 4em;
}

section:nth-of-type(4) > h2 {
  background-color: var(--secondary-color);
  border-radius: 1em 2em 2em 1em;
  padding: .5em;
  color: white;
  width: 7em;
  font-size: 1em;
  margin-bottom: 2em;
}

section:nth-of-type(4) article ul li {
  list-style: none;
}

section:nth-of-type(4) article ul li > article {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  margin-bottom: 1em;
}

section:nth-of-type(4) article ul li > article p:first-of-type {
  color: var(--border-color);
  font-size: .8em;
  display: flex;
  align-items: center;
}

section:nth-of-type(4) article ul li > article p:last-of-type {
  margin-right: 0;
  justify-content: right;
  display: flex;
  align-items: center;
}

section:nth-of-type(4) > a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin-bottom: 2em;
  text-decoration: none;
  color: var(--text-color);
}





/* Login scherm */
.login form > section {
  text-align: center;
  margin-bottom: 0;
}

.login form {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 1em;
  max-width: 25em;
  margin: 0 auto 5em auto;
}

.login form input {
  border: 1px solid var(--border-color);
  padding: .8em;
  width: 100%;
}


input[type="submit"], input[type="button"] {
  width: 100%;
  border-radius: 2em;
  padding: .8em;
  color: var(--txtbg-color);
  background-color: var(--secondary-color);
  transition: .5s;
}

input[type="submit"]:hover, input[type="button"]:hover {
  background-color: var(--border-color);
}

input[type="submit"]:focus, input[type="button"]:focus {
  transform: scale(1);
  background-color: var(--border-color);
}

input[type="submit"]:active, input[type="button"]:active {
  transform: scale(.95);
  background-color: var(--border-color);
}



/* Footer */
footer {
  border-top: 1px solid var(--txtbg-color);
  display: flex;
  justify-content: center;
}

footer nav {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
}

footer nav ul {
  list-style: none;
  padding: 1em;
  line-height: 2em;
}

footer nav ul:first-of-type {
  font-weight: 600;
}

footer nav ul li:hover {
  font-size: 1.1em;
}

footer nav ul li a:focus{
  font-size: 1.1em;
  text-decoration: underline;
}
